.heading-25 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
}
.link-amazon-gift-card-300x302 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div14,
.link-heading9 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.div14 {
  font-size: 16px;
  font-family: Roboto;
}
.item14 {
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-visa-vanilla-gift-card-2 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div15,
.visa-vanilla-gift1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.div15 {
  font-size: 16px;
  font-family: Roboto;
}
.item15 {
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-shein-gift-card-300x3001 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div16,
.link-heading10 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.div16 {
  font-size: 16px;
  font-family: Roboto;
}
.item16 {
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-hulu-gift-cards-300x3001 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div17,
.link-heading11 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.div17 {
  font-size: 16px;
  font-family: Roboto;
}
.item17 {
  width: 198px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-mint-gift-card-300x3001 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div18,
.link-heading12 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 115px;
}
.div18 {
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  min-width: 112px;
  white-space: nowrap;
}
.item18 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  text-align: left;
}
.container3 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 15px;
  gap: 20px;
  font-size: 18px;
}
.button4 {
  background-color: #0a0a60;
}
.button4,
.button5 {
  position: relative;
  border-radius: 5px;
  border: 2px solid #0a0a60;
  box-sizing: border-box;
}
.view-all-gift-cards-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.gift-cards-wrapper,
.gift-cards1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.gift-cards1 {
  width: 1140px;
  justify-content: flex-start;
  gap: 32px;
}
.gift-cards-wrapper {
  align-self: stretch;
  background-color: #fff;
  justify-content: center;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 48px;
  color: #0a0a60;
  font-family: Manrope;
}
.heading-26 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
}
.link-roblox-gift-card-300x301 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div19,
.link-heading13 {
  position: relative;
  line-height: 22px;
}
.div19 {
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}
.item19 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-pubg-mobile-gift-card-31 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.pubg-mobile-gift1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.div20 {
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  text-align: left;
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}
.item20 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  min-width: 129px;
  text-align: center;
}
.link-minecraft-minecoin-coin1 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div21,
.link-heading14 {
  position: relative;
  line-height: 22px;
}
.div21 {
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
}
.item21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-psn-plus-card-300x300j1 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div22,
.link-heading15 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 117px;
}
.div22 {
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  min-width: 104px;
  white-space: nowrap;
}
.item22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-karma-koin-gift-card-301 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.karma-koin-gift1 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.div23 {
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  text-align: left;
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}
.item23 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  min-width: 129px;
  text-align: center;
}
.list1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: 18px;
}
.gaming-cards1 {
  width: 1030px;
  align-items: center;
  gap: 32px;
  max-width: 100%;
}
.gaming-cards-wrapper,
.gaming-cards1,
.product-listings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.gaming-cards-wrapper {
  align-self: stretch;
  background-color: #edf0f5;
  align-items: center;
  padding: 80px 20px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #0a0a60;
  font-family: Manrope;
}
.product-listings {
  width: 100%;
  position: relative;
  align-items: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .container3 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1050px) {
  .heading-25,
  .heading-26 {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 750px) {
  .gift-cards1 {
    gap: 16px;
  }
  .gift-cards-wrapper {
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
  .gaming-cards1 {
    gap: 16px;
  }
  .gaming-cards-wrapper {
    gap: 16px;
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-25,
  .heading-26 {
    font-size: 29px;
    line-height: 32px;
  }
}
