.heading-210 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 400;
  font-family: inherit;
}
.link-roblox-gift-card-300x302 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div27,
.link-heading18 {
  position: relative;
  line-height: 22px;
}
.div27 {
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}
.item27 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-pubg-mobile-gift-card-32 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.pubg-mobile-gift2 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.div28 {
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  text-align: left;
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}
.item28 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  min-width: 129px;
  text-align: center;
}
.link-minecraft-minecoin-coin2 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div29,
.link-heading19 {
  position: relative;
  line-height: 22px;
}
.div29 {
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  display: inline-block;
  min-width: 104px;
  white-space: nowrap;
}
.item29 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-psn-plus-card-300x300j2 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.div30,
.link-heading20 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 117px;
}
.div30 {
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  min-width: 104px;
  white-space: nowrap;
}
.item30 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.link-karma-koin-gift-card-302 {
  width: 198px;
  height: 198px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.karma-koin-gift2 {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.div31 {
  position: relative;
  font-size: 16px;
  line-height: 135%;
  font-family: Roboto;
  text-align: left;
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}
.item31 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
  min-width: 129px;
  text-align: center;
}
.list2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  text-align: left;
  font-size: 18px;
}
.gaming-cards2,
.heading-2-gaming-cards-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
}
.heading-2-gaming-cards-parent {
  width: 1030px;
  gap: 32px;
}
.gaming-cards2 {
  align-self: stretch;
  background-color: #edf0f5;
  padding: 80px 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 48px;
  color: #0a0a60;
  font-family: Manrope;
}
@media screen and (max-width: 1050px) {
  .heading-210 {
    font-size: 38px;
    line-height: 42px;
  }
}
@media screen and (max-width: 750px) {
  .heading-2-gaming-cards-parent {
    gap: 16px;
  }
  .gaming-cards2 {
    gap: 16px;
    padding-top: 52px;
    padding-bottom: 52px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-210 {
    font-size: 29px;
    line-height: 32px;
  }
}
