.heading-1 {
  margin: 0;
  height: 43.2px;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.img-rated-500-out-of-55 {
  width: 98px;
  height: 14px;
  position: relative;
  flex-shrink: 0;
}
.customer-reviews {
  width: 113.5px;
  position: relative;
  line-height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.container6 {
  align-self: stretch;
  height: 36.7px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 22.7px;
  box-sizing: border-box;
  gap: 8px;
  font-size: 12px;
  font-family: Roboto;
}
.inputs {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 29px;
  white-space: nowrap;
}
.backgroundborder {
  flex: 0.725;
  border-radius: 5px;
  background-color: #0a0a60;
  border: 1px solid #d6d4d4;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17px 14px 17px 15px;
  min-width: 59px;
  max-width: 60px;
}
.div32 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 29px;
  white-space: nowrap;
}
.backgroundborder1 {
  flex: 0.725;
  border-radius: 5px;
  background-color: #0a0a60;
  border: 1px solid #d6d4d4;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17px 14px 17px 15px;
  min-width: 59px;
  max-width: 60px;
}
.div33 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 32px;
  white-space: nowrap;
}
.backgroundborder2 {
  flex: 0.8;
  border-radius: 5px;
  background-color: #0a0a60;
  border: 1px solid #d6d4d4;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17px 13px;
  min-width: 59px;
  max-width: 60px;
}
.div34 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 32px;
  white-space: nowrap;
}
.backgroundborder3 {
  flex: 0.8;
  border-radius: 5px;
  background-color: #0a0a60;
  border: 1px solid #d6d4d4;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17px 13px;
  min-width: 59px;
  max-width: 60px;
}
.div35 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 40px;
  white-space: nowrap;
}
.backgroundborder4 {
  flex: 1;
  border-radius: 5px;
  background-color: #0a0a60;
  border: 1px solid #d6d4d4;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 17px 9px;
  min-width: 59px;
  max-width: 60px;
}
.k,
.quantity-input-container {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.quantity-input-container {
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}
.k {
  height: 14px;
  position: relative;
  letter-spacing: 0.98px;
  line-height: 14px;
  align-items: center;
  flex-shrink: 0;
}
.quantity-input-labels {
  margin-left: -43.6px;
  width: 15.2px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
  box-sizing: border-box;
}
.k1,
.l {
  position: relative;
  flex-shrink: 0;
}
.k1 {
  line-height: 40px;
  font-family: Roboto;
  display: inline-block;
  min-width: 9px;
}
.l {
  align-self: stretch;
  height: 14px;
  letter-spacing: 0.98px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quantity-input-fields {
  width: 15.2px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
  box-sizing: border-box;
}
.container7,
.div36,
.quantity-input-fields {
  display: flex;
  flex-shrink: 0;
}
.container7 {
  width: 38px;
  background-color: #fff;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 13px 0 15px;
  box-sizing: border-box;
  gap: 27.9px;
}
.div36 {
  width: 8.3px;
  position: relative;
  line-height: 40px;
  align-items: center;
  justify-content: center;
  min-width: 8.3px;
}
.container8 {
  background-color: #fff;
  overflow: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 14px 0 15px;
  font-family: Roboto;
}
.container8,
.k-wrapper,
.k2 {
  flex-shrink: 0;
  display: flex;
}
.k2 {
  align-self: stretch;
  height: 14px;
  position: relative;
  letter-spacing: 0.98px;
  line-height: 14px;
  align-items: center;
  justify-content: center;
}
.k-wrapper {
  margin-left: -43.6px;
  width: 15.2px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
  box-sizing: border-box;
}
.l1 {
  width: 8.3px;
  position: relative;
  line-height: 40px;
  font-family: Roboto;
  align-items: center;
  justify-content: center;
  min-width: 8.3px;
}
.l-wrapper,
.l1,
.l2 {
  flex-shrink: 0;
  display: flex;
}
.l2 {
  align-self: stretch;
  height: 14px;
  position: relative;
  letter-spacing: 0.98px;
  line-height: 14px;
  align-items: center;
  justify-content: center;
}
.l-wrapper {
  width: 15.2px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 3px;
  box-sizing: border-box;
}
.container9,
.input-product-quantity {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.container9 {
  width: 38px;
  background-color: #fff;
  flex-shrink: 0;
  align-items: flex-end;
  padding: 0 14px 0 15px;
  box-sizing: border-box;
  gap: 28.3px;
}
.input-product-quantity {
  border: 1px solid #d5d5d5;
  align-items: flex-start;
}
.button10 {
  height: 40.8px;
  flex: 1;
}
.add-to-cart-button-container {
  width: 278px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 14px;
  color: #0a0a60;
  font-family: Inter;
}
.product-title-container,
.quantity {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.product-title-container {
  gap: 32px;
  text-align: left;
  font-size: 32px;
  color: #0a0a60;
  font-family: Manrope;
}
@media screen and (max-width: 850px) {
  .heading-1 {
    font-size: 26px;
    line-height: 31px;
  }
}
@media screen and (max-width: 450px) {
  .heading-1 {
    font-size: 19px;
    line-height: 23px;
  }
  .backgroundborder,
  .backgroundborder1,
  .backgroundborder2,
  .backgroundborder3 {
    flex: 1;
  }
  .quantity-input-container {
    flex-wrap: wrap;
  }
  .product-title-container {
    gap: 16px;
  }
}
