.hero-image-container-child {
  height: 42.1px;
  width: 34px;
  position: relative;
  object-fit: cover;
}
.gifthub-icon1 {
  height: 21.3px;
  width: 102px;
  position: relative;
}
.hero-image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}
.item-link {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 62px;
  white-space: nowrap;
  text-decoration: none;
    color: #0a0a60;
}
.item-link-check-balance-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  text-decoration: none;
  color: #0a0a60;
}
.item-link1 {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 86px;
  white-space: nowrap;
}
.item-link-check-balance-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
}
.item-link2 {
  position: relative;
  line-height: 135%;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
}
.item-link-check-balance-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  text-decoration: none;
  color: #0a0a60;
}
.item-link3 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 60px;
}
.item-link-check-balance-wrapper1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  text-decoration: none;
  color: #0a0a60;
}
.hero-image-container-parent,
.hero-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.hero-links {
  margin: 0;
  padding: 0 185px 0 0;
  gap: 24px;
  text-align: left;
  font-size: 16px;
  color: #0a0a60;
  font-family: Roboto;
  text-decoration: none;
}
.hero-image-container-parent {
  padding: 0 93px 0 0;
  gap: 80px;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 31px;
  height: 30px;
  overflow: hidden;
}
.hero-title {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 7px;
  color: white;
  align-items: center;
    justify-content: center;
  text-align: center;
}
.items,
.paragraphbackground {
  position: absolute;
  display: flex;
}
.items {
  height: 20px;
  width: 30.2px;
  margin: 0 !important;
  right: -10.2px;
  bottom: -19.5px;
  line-height: 100%;
  color: #0a0a60;
  align-items: center;
  justify-content: center;
  min-width: 30.2px;
}
.paragraphbackground {
  right: 0;
  bottom: 0;
  border-radius: 40px;
  background-color: #0a0a60;
  width: 20px;
  flex-direction: row;
  padding: 0.8px 6px 7.2px;
  box-sizing: border-box;
  z-index: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icon-parent {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.responsive-navbar,
.responsive-navbar-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.responsive-navbar-inner {
  width: 36px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.responsive-navbar {
  align-self: stretch;
  background-color: #eee;
  flex-direction: row;
  justify-content: center;
  padding: 24px 20px;
  gap: 300px;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .responsive-navbar {
    gap: 363px;
  }
}
@media screen and (max-width: 1050px) {
  .hero-links {
    display: none;
  }
  .hero-image-container-parent {
    gap: 40px;
    padding-right: 46px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .hero-links {
    padding-right: 92px;
    box-sizing: border-box;
  }
  .responsive-navbar {
    gap: 181px;
  }
}
@media screen and (max-width: 450px) {
  .hero-links {
    padding-right: 20px;
    box-sizing: border-box;
  }
  .hero-image-container-parent {
    gap: 20px;
    padding-right: 23px;
    box-sizing: border-box;
  }
  .responsive-navbar {
    gap: 91px;
  }
}
